@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

.heading {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 100px;
      padding-top: 230px !important;
}

.container h1 {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 64px;
      line-height: 87px;
      background: linear-gradient(90.07deg, #33EABB 30.93%, #AFF8F8 98.84%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      text-align: center;
}

.container p {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      text-align: center;
      color: #FEFEFE;
      max-width: 1000px;
}

.button {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      color: #061018;
      width: 203px;
      height: 81px;
      gap: 8px;
      background: #FFFFFF;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      outline: none;
}

.btnGroup {
      display: flex;
      gap: 20px;
}

.greenBtn {
      background: #00E5AA;
}

.heading img {
      margin-top: 70px;
}

.myylink {
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: center;
      padding: 0 130px;
}

.myylink .info {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 32px;
}

.myylink .info h1 {
      font-size: 48px;
      text-align: left;
      line-height: 65px;
}

.myylink p {
      text-align: left;
}

span.white {
      color: #fff !important;
      -webkit-text-fill-color: currentColor;
}

.community {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 100px;
      gap: 32px;
}

.container h2 {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      color: #FFFFFF;
      text-align: center;
}


@media (max-width: 1280px) {
      .myylink {
            flex-wrap: wrap;
      }

      .myylink .info {
            text-align: center;
            align-items: center;
      }

      .myylink .info h1 {
            text-align: center;
      }

      .myylink .info p {
            text-align: center;
      }
}

@media (max-width: 768px){
      .container{
            padding: 50px;
      }
      .container h1{
            font-size: 50px;
            line-height: 68px;
      }
      .container h2{
            font-size: 44px;
      }
      .container p{
            font-size: 20px;
      }
      .container img{
            width: 100%;
            height: 100%;
      }
}


@media (max-width: 481px){
      .container{
            padding: 20px;
      }
      .btnGroup{
            justify-content: center;
            flex-wrap: wrap;
      }  
      .community{
            margin-bottom: 50px;
      }
      .heading img{
            width: 100%;
      }
}