@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

.footer {
      background-color: #050A0E;
      padding: 0 130px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-bottom: 50px;
}

.logoText {
      color: #fff;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      font-family: 'Open Sans';
}

.logo {
      display: flex;
      align-items: center;
      gap: 16px;
      padding-top: 50px;
}

.foot {
      display: flex;
      gap: 60px;
      flex-wrap: wrap;
      padding-top: 50px;
}

.links {
      display: flex;
      gap: 50px;
}

.links ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
}

.links ul a {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #FEFEFE;
      padding: 5px;
}

.socials {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.socials h3 {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 26px;
      line-height: 35px;
      color: #FFFFFF;
}

.socialLinks {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
}

.socialLinks a {
      background: rgba(237, 237, 237, 0.2);
      border-radius: 14.7857px;
      height: 69px;
      width: 69px;
      display: flex;
      justify-content: center;
      align-items: center;
}

/*--------------
  Resposive 
----------------*/
@media (max-width: 1280px) {
      .footer {
            padding: 0 100px 0;

      }

      .foot {
            gap: 49px;
      }
}

@media (max-width: 768px) {
      .footer {
            padding: 0 50px 50px;
      }

      .socials h3{
            font-size: 20px;
            line-height: 27px;
      }

      .socialLinks a {
            height:50px;
            width:50px;
      }
      .socialLinks a img{
            width: 18px;
            height: auto;
      }
      .logo{
            gap: 9px;
      }
      .logo .logoText{
            font-size: 26px;
      }
      .logo img{
            width: 39px;
            height: 39px;
      }
}

@media (max-width: 481px){
      .footer {
            padding: 0 20px 50px;
      }
      .footer .socialLinks{
            gap: 10px;
      }
}